#navContainer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.26) 2px 2px 4px;
  /*background-color: #fdce4d;*/
  background-color: #fedb68;
  z-index: 100;
}

.icons {
  position: relative;
}

.icon {
  height: 2em;
  width: 2em;
}

@media (max-width: 625px) {
  #navContainer {
    position: static;
    height: auto;
    flex-direction: row;;
    width: 100%;
    padding: 10px;
  }
  .icon {
    height: 1.5em;
    width: 1.5em;
  }
}