:root {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}


main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.family {
  font-family: 'Dancing Script';
}

.pageTitle {
  font-weight: bolder;
  margin-bottom: 15px;
  color: #666666;
  text-shadow: 1px 1px 2px rgb(47, 177, 233);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 625px) {
  main {
    margin-top: 0px;
  }
}